<html>
    <head>
        <title>Account Page</title>
        <link rel="stylesheet" href="accountmain-style.css">
        <script src="scriptFile\accountmain-script.js"></script>
    </head>
    <body class="background">

        <div class="top_navbar">
            <a id="logout" href="http://<%= webserver_location %>">Log out</a>
            <a id="username"><%= userName %></a>

            <form action="http://<%= server_location %>upload" method="post" enctype="multipart/form-data">
                <input onchange="fileSelect()" type="file" name="filetoupload" id="upload" hidden="hidden">
                <label class= "upload-button" for="upload">Choose file</label>
                <label id="filename"></label>
                <input type="submit" id="submit" hidden>
                <label for="submit" class="upload-button" id="uploadButton">Upload</label>
                <input hidden="hidden" name="username" id="username" value="<%= userName %>" />
            </form>
        </div>
        
        <div class="showFiles">
            <a class="columnHeader">
                <label class="imageName-header">Filename</label>
                <label class="fileType-header">File Type</label>
                <label class="dateuploaded-header">Date Uploaded</label>
                
            </a>

        <% if (Image != undefined ) { %>
            <% Image.forEach(image => { %>
                <label hidden="hidden"><%= count++%></label>
                
                <a id="button" class="column" download="<%= image.filename %>">

                    <label for="name<%= count %>"  class="imageName"><%= image.filename %></label>

                    <input id="name<%= count %>" onclick="DisplayPreview('<%= server_location %><%= SessionID %>/<%= image.token %>')" hidden>

                    <input id="my-input" data-dropdown="true" hidden/>

                    <select onchange="select('<%= server_location %><%= SessionID %>/<%= image.token %>', '<%= count %>' ,'<%= image.filename %>','<%= server_location %>','<%= SessionID %>', '<%= image.token %>')" class="popup download-button" id="select-action<%= count %>">
                        <option value="empty"></option>
                        <option value="download" >download</option>
                        <option value="rename">rename</option>
                        <option class="deleteOption" value="delete">delete</option>
                    </select>

                    <label class="fileType"><%= image.filetype %></label>
                    <label class="dateuploaded"><%= image.dateuploaded %></label>

                    <dialog id="rename-dialog<%= count %>">
                        <label class="renamebox-title">Rename file: <%= image.filename %></label><br>
                        <input class="rename-input" type="text" id="rename-input<%= count %>"><br>
                        <button class="cancel-button button" id="rename-cancel<%= count %>">cancel</button>
                        <button class="rename-button button" id="rename-button<%= count %>">rename</button>
                    </dialog>

                </a>
            <% }); %>
        <% }%>      

    </body>
</html>