<html>
    <head>
        <title>Account Page</title>
        <link rel="stylesheet" href="accountmain-style.css">
        <script src="scriptFile\accountmain-script.js"></script>
    </head>
    <body class="background">

        <div class="top_navbar">
            <a id="logout" href="http://<%= webserver_location %>">Log out</a>
            <a id="username"><%= userName %></a>

            <form action="http://<%= server_location %>upload" method="post" enctype="multipart/form-data">
                <input type="file" name="filetoupload" id="upload" hidden="hidden">
                <label class= "upload-button" for="upload">Choose file</label>
                <input type="submit" id="submit" hidden>
                <label for="submit" class="upload-button">Upload</label>
                <input hidden="hidden" name="username" id="username" value="<%= userName %>" />
            </form>
        </div>
        
        <div class="showFiles">
            <a class="columnHeader">
                <label class="imageName-header">Filename</label>
                <label class="fileType-header">File Type</label>
                <label class="dateuploaded-header">Date Uploaded</label>
                
            </a>

        <% if (Image != undefined ) { %>
            <% Image.forEach(image => { %>
                <label hidden="hidden"><%= count++%></label>
                
                <a id="button" class="column" download="<%= image.filename %>">
                    <!--<img class="previewImage" src="http://<%= server_location %><%= userName %>/<%= image.filename %>">-->
                    <label class="imageName"><%= image.filename %></label>
                    <!--<a class="imageName" href="http://<%= server_location %><%= SessionID %>/<%= image.token %>"><%= image.filename %></a>-->
                    <div class="popup download-button" onclick="myFunction('<%= count %>')"> options
                        <input id="myPop<%= count%>" class="popuptext" type="button" onclick="download('<%= server_location %><%= SessionID %>/<%= image.token %>', '<%= image.filename %>')" value="download" />
                      </div>
                    
                    <label class="fileType"><%= image.filetype %></label>
                    <label class="dateuploaded"><%= image.dateuploaded %></label>
                </a>
            <% }); %>
        <% }%>

        </div>

        <!--
        <script src="accountmain-script.js"></script>
        -->
        <!--
        <a class="image_button">
            <img class="image" src="http://localhost:3000/accountmain-page/Image_1.JPG" alt="River" width="200" height="200">
            <label>Image_2.jpg</label>
        </a>
        -->
        

    </body>
</html>