<html>
    <head>
        <title>Account Page</title>
        <link rel="stylesheet" href="accountmain-style.css">
    </head>
    <body class="background">

        <div class="top_navbar">
            <a><%= userName %></a>

            <form action="http://localhost:3001/upload" method="post" enctype="multipart/form-data">
                <input for="fileupload" src="homepage\ImageAssets/add_button.png" type="file" name="filetoupload">
                <input type="submit">
                <input hidden="hidden" name="username" id="username" value="<%= userName %>" />
            </form>
        </div class="gallery_grid">
        <% if (Image != undefined ) { %>
            <% Image.forEach(image => { %>
                <a>
                    <img width="200" height="200" src="http://localhost:3001/<%= userName %>/<%= image %>">
                    <label><%= image %></label>
                </a>
            <% }); %>
        <% }%>

        <!--
        <script src="accountmain-script.js"></script>
        -->
        <!--
        <a class="image_button">
            <img class="image" src="http://localhost:3000/accountmain-page/Image_1.JPG" alt="River" width="200" height="200">
            <label>Image_2.jpg</label>
        </a>
        -->
        

    </body>
</html>